// About me section

.about-me {
  &__box {
    background-color: white;
    position: relative;
    overflow: hidden;
    z-index: -2;
    flex-direction: column;

    @include respond(lg) {
      flex-direction: row;
    }
  }

  &__lvl {
    position: relative;
    order: 2;
    transform: translateY(-34px);

    @include respond(lg) {
      order: 0;
      transform: translateY(0);
    }
  }

  &__img {
    width: 300px;
    box-shadow: 12px 12px 0 var(--color-teal-med);
  }

  &__title {
    color: var(--color-teal-med);
  }

  &__text {
    color: #102a43;
    line-height: 1.8;
  }
}

//Joystick background icon

.joystick {
  position: absolute;
  top: -5%;
  right: -8%;

  z-index: -1;
  width: 50%;
  opacity: 0.2;

  @include respond(lg) {
    top: -15%;
    right: -9%;
    width: 30%;
    opacity: 0.25;
  }
}

////////////////////////////////////////////////////////////////////////

// Level Up easter egg

.lvlup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;

  //check this height, it was 10rem !!!

  height: 100%;

  &__text {
    position: relative;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    overflow: hidden;
    background: linear-gradient(
      90deg,
      transparent,
      var(--color-white) 25%,
      var(--color-white) 75%,
      transparent
    );
    opacity: 98%;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 16s linear both infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
}

.skbar {
  animation: skyrim 16s linear both 1s infinite;
}

////////////////////////////////////////////////////////////////////////

.work {
  height: 100%;
  width: 100%;

  // background: linear-gradient(-70deg, #fff 50%, #f0f4f8 50%);
}

.cards-title {
  color: var(--color-teal-med);
  font-weight: 500;
}

.cards-text {
  color: #102a43;
}

// Projects

.projects {
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__title {
    color: #102a43;
  }
}

.copywriter {
  flex-direction: column;
  border-top: 10px solid var(--color-teal-med);
  margin-left: 15px;
  margin-right: 15px;

  @include respond(sm) {
    margin: 0;
  }
  @include respond(lg) {
    flex-direction: row;
  }

  &__title {
    color: var(--color-teal-med);
  }

  &__desc {
    max-width: 100%;

    @include respond(lg) {
      width: 40%;
    }

    p {
      color: #102a43;
    }
  }

  &__mockup {
    width: 100%;

    @include respond(lg) {
      width: 60%;
    }
  }
}

.btn-wrapper {
  display: flex;
  box-sizing: content-box;
}

.btn-visit {
  background-color: var(--color-teal-med);
  width: 50%;
  align-self: start;
  border-radius: 0;
  color: white;
  font-weight: 500;
  text-transform: uppercase;

  &:hover {
    background-color: #14919b;
    color: white;
  }
}

.btn-read {
  align-self: start;
  width: 50%;
  border-radius: 0;
  color: var(--color-teal-med);
  font-weight: 500;
  text-transform: uppercase;

  &:hover {
    background-color: rgba($color: #0e7c86, $alpha: 0.1);
    color: var(--color-teal-med);
  }
}
